<p>Glass Type: {{ closest.product.metafields.custom.glass_type }}</p>

{% schema %}
{
  "name": "Glass type display",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Glass type display"
    }
  ]
}
{% endschema %}